header {
    background-color: crimson;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

img {
    height: 100px;
}

body {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
}

h1 {
font-family: 'Silkscreen', cursive;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 84.69%;
font-feature-settings: 'cpsp' on;
color: crimson;
background-color: #C4C4C4;
text-align: center;
letter-spacing: 5px;
margin: 0;
padding-top: 25px;

width: 1440px;
height: 50px;
left: 0px;
top: 188px;
}

h2 {
font-family: 'Silkscreen', cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 84.69%;
background-color: #C4C4C4;
color: crimson;
letter-spacing: 3px;
text-indent: 1%;
padding-top: 5px;
padding-bottom: 5px;
}


.descripciones {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.detalles {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;    
}

.datos {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
}

.años {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
}

.margenes {
    padding-left: 99px;
    font-family: 'Poppins', sans-serif;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 84.69%;
    background-color: crimson;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-github {
    color: #FFFFFF;
}

.fa-chess-knight {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
}

.fa-gamepad{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
}

.fa-chess-rook {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
}

.fa-chess-king {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
}

.fa-chess-queen {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;    
}

.perfil {
    width: 100%;
    display:flex;
    max-width: 8000px;
}

.fa-trophy {
    font-size: 80px;
    padding: 10px;
    color: #FFFFFF;
}

.sobre {
    background-color: aquamarine;
    padding-left: 10px;
    size: 60px;
    font-family: 'Silkscreen', cursive;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.sobre p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.Mi {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.inicio {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}